#header{
	z-index: 1;
	position: fixed;
	background-color: #4fbeff;
	border-radius: 5px;
	height: 60px;
	width: 1000px;
	border: 2px solid black;


}

#body{
	border-radius: 5px;
	height: 240px;
	width: 1000px;
	border: 2px solid black;
	margin-top: 100px;
	background-color: #5d01b2;
}

div>h3{
	text-align: center;
	color: #eeff72;

}

p {
	color: #ffffff;
}